body{
    background-color: aquamarine;
}

h1{
    color: cornflowerblue;
    transition:color .5s ease-in-out;
}

.clicked {
    color: mediumpurple;
}

.sexy-font {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}